<div class="zippy">
  <div 
    class="zippy-heading"
    [class.expanded]="isExpanded"
    (click)="toggle()">
    {{ title }}
    <span class="glyphicon"
      [ngClass]="{
        'glyphicon-chevron-up': isExpanded,
        'glyphicon-chevron-down': !isExpanded
      }"
    ></span>
  </div>

  <!-- animating zippy component is different beacuse it uses the hidden property (does not enter/leave the DOM): no transition between the void and default states -->
  <!-- need to deal with custom states -->
  <!-- Need to use property binding syntax to define the current state of the trigger -->
  <!-- the hidden property will automatically hide the element when isExpanded is false causing the animation from expanded to collapsed not to be applied (can delete it)-->
  <div 
    [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'"
    class="zippy-body" >
    <!-- [hidden]="!isExpanded" -->
    <ng-content></ng-content>
  </div>
</div>