<!-- <todos></todos> -->

<!-- want to animate zippy component -->
<zippy title="Shipping Address">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit semper suscipit. Etiam vulputate leo orci, a maximus libero commodo eget. Aliquam convallis interdum turpis. Maecenas sagittis at ante at cursus. Pellentesque purus risus, viverra in justo efficitur, rutrum tempus odio. Suspendisse euismod congue varius. Integer quis dolor sit amet nisl pulvinar ultricies.
  </p>
  <p>
    Maecenas quam purus, pretium vel fringilla non, porta a risus. Aenean ornare ex erat, a posuere nulla auctor et. Pellentesque imperdiet augue nec sem dictum vulputate. Morbi sodales, dui et maximus interdum, lectus mi pellentesque nisi, eget mattis est est quis augue. Ut id venenatis mauris. Quisque nec dignissim nisi, vitae semper nulla. Fusce laoreet diam neque, vitae consectetur enim imperdiet et.
  </p>
</zippy>