<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
      </li>
      <ng-template #anonymousUser>
        <li 
          class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <!-- when accessing the appUser$ with async pipe it will be subscribed immediatelly. It will cause the infinite loop because of the switchMap operator applied on the user object -->
      <!-- async pipe marks the template for change detection every time new value is emmitted to the observable it is applied to -->
      <!-- <li 
        ngbDropdown 
        class="nav-item dropdown"
        *ngIf="auth.appUser$ | async as user; else anonymousUser"> -->
        <li 
          ngbDropdown 
          class="nav-item dropdown"
          *ngIf="appUser; else anonymousUser">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ appUser.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <!-- Displaying these links only if the user belongs to the admin role -->
          <!-- Better option to use ng-container with 1 ngIf compared to having 2 same ngIfs directly on the <a> tag -->
          <ng-container *ngIf="appUser.isAdmin">
            <a class="dropdown-item" routerLink="/admin/orders">Manage orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage products</a>
          </ng-container>
          
          <a 
            class="dropdown-item"
            (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
