<form>
  <input 
    type="text" 
    class="form-control"
    (keyup.enter)="addTopic(topic)" #topic>
  <ul class="list-group">
    <!-- iterating through formControl objects in the FormArray -->
    <!-- <li 
      class="list-group-item"
      *ngFor="let topic of form.get('topics').controls"> -->
    <li 
      class="list-group-item"
      *ngFor="let topic of this.topics.controls"
      (click)="removeTopic(topic)">
      {{ topic.value }}
    </li>
  </ul>
</form>