<div class="panel panel-default">
  <div class="panel-heading">
    <ng-content select=".heading"></ng-content>    
    <!-- ng-content is replaced with the selector element defined in the host component's markup -->
    <!-- sometimes we want to inject only text, and not include the whole element -->
  </div>
  <div class="panel-body">
    <ng-content select=".body"></ng-content>    
  </div>
</div>  
