/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import "https://fonts.googleapis.com/css?family=Roboto:300,400,500"; */

/* importing different font from google */
@import "https://fonts.googleapis.com/css?family=Open+Sans";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.mat-tab-body-content {
    padding-top: 20px;
}
