// need to import the sass file that comes with Angular Material

@import "~@angular/material/_theming";

// need to include core styles defined in Angular material
// defined in a mixin - md-core: multiple other mixins are included here

@include mat-core();

// DEFINE CUSTOM THEME

$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-yellow, 700);
$app-warn: mat-palette($mat-red); // optional, by default it's set to red

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// DEFINE CUSTOM TYPOGRAPHY

// all of the classes used in typography are defined in the config function 
// should define fallback fonts if the client fails to download specific font
$app-typography: mat-typography-config(
    $font-family: '"Open Sans","Helvetica Neue", sans-serif',
    $headline: mat-typography-level(35px, 32px, 700)
);

// $headline arguments: 1. font size, 2. line-height, 3. weight

// using mixin to include custom typography
@include angular-material-typography($app-typography);


