<div class="media" *ngFor="let follower of followers">
  <div class="media-left">
    <img class="align-self-start mr-3" src="{{follower.avatar_url}}" class="avatar-picture">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{follower.login}}</h4>
    <!-- using multiple parameters -->
    <a [routerLink]="['/followers', follower.id, follower.login]">Github page</a>
  </div>
</div>
