<input type="text" (keyup.enter)="add(course)" #course>
<ul>
  <li *ngFor="let course of courses$ | async">
    {{ course.payload.val() | json }}
    <button (click)="update(course)">Update</button>
    <button (click)="delete(course)">Delete</button>
  </li>
</ul>
