@import "~bootstrap/dist/css/bootstrap.css";
body {
  padding: 20px;
}

/* using Angular error classes to style the invalid input field */
.formf-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
