<p>
  edit-course works!
</p>
<button mat-raised-button mat-dialog-close="Yes">Yes</button>
<button mat-raised-button mat-dialog-close="No">No</button>

<!-- when the user click either of the buttons we want a dialog to close -->
<!-- we can use matDialogClose directive -->
<!-- can optionally pass the value to the directive and return it to the caller component -->
