<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <!-- adding additional optional query string parameters to the route -->
          <!-- binding to the queryParams property -->
          <a 
            routerLink="/followers"
            [queryParams]="{ page: 1, order: 'newest' }"
            >Followers</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/posts">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
